.header {
  width: 100%;
  background-color: pink;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.headerlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.headerlinks li {
  float: left;
  margin: 5px;
}

.firstcontainer {
  background-color: lightblue;
  width: inherit;
  min-height: inherit;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  margin: 5px;
}

p {
  color: darkblue;
  border: 1px solid black;
  background-color: yellow;
  font-size: 100%;
  align-items: center;
}
.secondcontainer {
  display: block;
  background-color: violet;
  width: inherit;
  min-height: inherit;
  margin: 5px;
  border: solid black;
  align-content: center;
}
body {
  height: 80%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: pink;
  justify-content: center;
}
h2 {
  color: black;
}
@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}
