.header {
  width: 100%;
  background-color: pink;
  min-height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

p {
  color: green;
  font-size: 100%;
}

.headerlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}
.headerlinks li {
  float: left;
  margin: 5px;
}

.firstcontainer {
  width: inherit;
  min-height: 450px;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  margin: 5px;
}
.container {
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
}
.aboutme {
  max-width: 30%;
  margin-left: 5px;
}

body {
  height: 80%;
  width: 100%;

  justify-content: flex-start;
  align-items: flex-start;
}
